body {
    background-color: #dddddd
}

/* Spinner styles */
.spinner {
    display: none;
    margin: 50px auto;
    border: 8px solid #f3f3f3;
    border-top: 8px solid #3498DB;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

#project-title {
    font-family: Arial;
    font-size: 20px;
    color: #a1a1a1;
    text-align: center;
}

/* Dataset section styles */
.dataset-section {
    margin: 20px 0;
    padding: 15px;                /* Add padding inside the section */
    border: 2px solid #ccc;      /* Add a light grey border */
    border-radius: 10px;         /* Make the border rounded */
    background-color: #f5f5f5;   /* Light grey background */
}

.dataset-header {
    color: #0e2a3d;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
    padding-left: 20px;  /* Ensure the header aligns with the table content */
}

.table {
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 10px;
}

.table .table-header {
    cursor: pointer;
    font-size: 18px;
    background-color: #3498DB;
    color: white;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between; /* Distribute content */
    align-items: center; /* Vertically align items */
}

.name-and-label-wrapper {
    display: flex;
    align-items: center; /* Align the table name and label vertically */
}

.table .table-header:hover {
    background-color: #2980B9;
}


.table-columns {
    /*display: none;*/
    margin-top: 10px;
}

.table-columns table {
    width: 100%;
    border-collapse: collapse;
}

.table-columns th, .table-columns td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: left;
}

.table-columns th {
    background-color: #f9f9f9;
}

.table-columns th:nth-child(1), .table-columns td:nth-child(1) {
    width: 90px; /* Fixed width for the first column */
}

.table-columns th:nth-child(2), .table-columns td:nth-child(2) {
    width: 80px; /* Fixed width for the second column */
}
/* Add zebra striping */
.table-columns tr:nth-child(odd) {
    background-color: #f7faff; /* Light blue-grey color */
}

.table-columns tr:nth-child(even) {
    background-color: #ffffff; /* White for alternating rows */
}

/* Add zebra striping */
.table-columns tr.oldrow:nth-child(odd) {
    background-color: #eaeaea; /* Light blue-grey color */
}

.table-columns tr.oldrow:nth-child(even) {
    background-color: #f3f3f3; /* White for alternating rows */
}
