<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="AuditLogger" class="net.logstash.logback.appender.LogstashTcpSocketAppender">
        <destination>audit.nais:6514</destination>
        <writeBufferSize>128000</writeBufferSize>
        <ringBufferSize>131072</ringBufferSize>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>${HOSTNAME} sf-audit: %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="AuditLogger" level="INFO" additivity="false">
        <appender-ref ref="AuditLogger"/>
    </logger>

    <appender name="stdout_json" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LogstashEncoder"/>
    </appender>

    <logger name="no.nav" level="INFO"/>
    <logger name="org.apache.kafka" level="INFO"/>
    <logger name="o.a.k.clients" level="INFO"/>
    <logger name="io.netty" level="INFO"/>

    <root level="${log.level.root:-INFO}">
        <appender-ref ref="stdout_json" />
    </root>

</configuration>